* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-image: url("https://img.freepik.com/vector-gratis/autopista-subterranea-tunel-carretera-montana_107791-18440.jpg?w=1380&t=st=1685567290~exp=1685567890~hmac=a5c3e82c2659d829ecf2506b3bae08cc187fa4167d4bf4ef994525aea5b0c10a");
  background-color: rgb(255, 255, 255);
  opacity: 1;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 2rem;
  border-radius: 8px;
}

@media (max-width: 768px) {
  .container {
    width: 80%;
    padding: 1.5rem;
  }
}

@media (max-width: 576px) {
  .container {
    width: 90%;
    padding: 1rem;
  }
}