* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: rgba(255, 255, 255, 0.5);
  background-image: url("../IMG/pistaplana.png");
  /* background-image: url("../IMG/luz.png"); */
  background-size: contain;
  /* Ajusta el tamaño de la imagen para que se ajuste al contenedor sin desbordarse */
  background-repeat: no-repeat;
  /* Evita que la imagen se repita */
  background-position: center;
  /* Centra la imagen vertical y horizontalmente en el contenedor */
  min-height: 100vh;
  display: flex;
  align-items: center;
  background-color: #1d1d1d;
}

.container {
  margin-top: 50px;
}

h1,
h2,
p,
thead,
tbody,
tr,
td {
  color: #f3f3f3;
}

.instructions {
  margin: 20px 0;
}

.race-track {
  position: relative;
  width: 100%;
  max-width: 800px;
  height: 0;
  padding-bottom: 50%;
  margin: 0 auto;
  /* background-image: url("../IMG/pistas.png"); */
  background-size: contain;
  /* Ajusta el tamaño de la imagen de la pista para que se ajuste al contenedor sin desbordarse */
  background-repeat: no-repeat;
  /* Evita que la imagen de la pista se repita */
  background-position: center;
  /* Centra la imagen de la pista vertical y horizontalmente en el contenedor */
}

.car {
  position: absolute;
  bottom: 0;
  height: 20%;
  width: auto;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

#car1 {
  left: 10px;
}

#car2 {
  right: 10px;
}

@keyframes moveCar {
  0% {
    left: 10px;
  }

  100% {
    left: 90%;
  }
}

#finish-line {
  position: absolute;
  top: 0;
  right: 0;
  width: 10px;
  height: 100%;
  background-color: #eeeeee00;
}

.hidden {
  display: none;
}

#winner-message {
  margin-top: 50px;
}

#winner-message button {
  padding: 10px 20px;
  margin-top: 20px;
  background-color: #1d1d1d;
  color: #eeeeee;
  border: none;
  cursor: pointer;
}

#winner-message button:hover {
  background-color: #eeeeee;
}

@media (max-width: 768px) {
  .race-track {
    max-width: 500px;
    padding-bottom: 30%;
  }

  .car {
    height: 15%;
  }
}